<html>
  <head>
    <%= stylesheet_link_tag "application" %>
    <%= javascript_include_tag "cookies" %>
  </head>
  <body onload='indexCheck()'>
    <%= render 'shared/header' %>
    <div class="page">
      <% if @info %>
        <h2><%= @info['name'] %></h2>
        <p> Scoring Type: <%= @info['scoring_type'] %></p>
        <p> Number of Teams: <%= @info['num_teams'] %></p>

        <h3>Roster Positions:</h3>
        <table>
          <tr>
            <th>Position</th>
            <th>Spots</th>
          </tr>
          <% for pos in @roster_positions do%>
            <tr>
              <td><%= pos['position'] %></td>
              <td><%= pos['count'] %></td>
            </tr>
          <% end %>
        </table>
        <h3>Stat Categories: </h3>
        <% for cat in @stat_categories do%>
          <%= cat['name'] %><br>
        <% end %>
      <% end %>
    </div>

  </body>
</html>